fastapi==0.115.0
requests==2.32.3
protobuf==3.20.3
uvicorn==0.30.6
markdown2==2.5.0
numpy==1.26.4
ninja==1.11.1.1
decord==0.6.0
scikit-image==0.24.0
opencv-python-headless==4.10.0.84
prettytable==3.11.0
accelerate==1.1.0
einops==0.8.0
sentencepiece==0.1.97
tokenizers==0.21.1
evaluate==0.4.3
bert-score==0.3.13
rouge-score==0.1.2
datasets==2.21.0
packaging==24.1
nltk==3.9.1
scikit-learn==1.5.2
pandas==2.2.2
peft==0.5.0
deepspeed==0.9.5
openai==1.70.0
omegaconf==2.3.0
pyarrow==15.0.0
timm==1.0.13
ftfy==6.2.3
matxscript==1.8.1
pydantic==1.10.14
transformers==4.51.2
torchmetrics==1.6.0
qwen-vl-utils==0.0.8
flash-attn==2.7.3
wandb
